<%= form_with model: article do |form| %>
  <div class="mb-3">
    <div class="form-floating">
      <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
      <%= form.label :title, class: "form-label" %>
    </div>
    <% article.errors.full_messages_for(:title). each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <div class="form-floating">
      <%= form.text_area :body, 
        class: "form-control", 
        style: "height: 150px",
        placeholder: "Some interesting text" %>
      <%= form.label :body, class: "form-label" %>
    </div>
    <% article.errors.full_messages_for(:body).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>